body {
    background-color: rgb(92, 92, 194);
    font: normal 15pt 'Roboto';
    
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 290px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.347);
    
}   

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin: 20px;
}
    
#msg {
    text-align: center;
    font-weight: bold;
}

#imagem {
    padding: 20px;
    
}

footer {
    font-size: 13pt;
    letter-spacing: 2px;
}


